* {
    overflow: auto;
}


body {
    background-color: #8BA1BB;
    font-family: Arial;
    margin: 0;
     }

p.categorie {
    background-color: black;
    color: white;
    display: inline-block;
    padding: 8px 15px;
    margin-bottom: 0;
    margin-top: -30px;
    font-weight: bold;
    font-size: 30px;
    
            }

div.categorie {
    margin-bottom: -15px;
    margin-top: 0;
    overflow: visible;
              }

div.contenue { 
    overflow: visible;
    background-color: white;
    margin: 40px 8px 40px 8px;
    padding: 0 8px 20px 8px;
    box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.15)
             }

h1 {
    text-align: center;
    margin-bottom: 12.5px;
    font-size: 35px;
   }

p.description {
    display: inline-block;
    max-width: 600px;
    font-size: 22px;
              }

.centre {
    text-align: center;
    width: 100%;
           }


div.separateur {
    width: 125px;
    height: 1px;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
               }

div.infos {
    position: relative;
          }

table.infos {
    position: absolute;
    width: 100%;
    background-color: #6C829DC0;
    color: white;
    bottom: 0;
    height: 30px; 
            }

table.infos td {
    text-align: center;
    font-size: 12px;
    vertical-align: top;
}

table.infos th {
    text-align: center;
    font-size: 14px;
    vertical-align: bottom;
    padding-bottom: 8px;
}

img.infos {
    min-height: 200px;
    background-color: lightgray;
    object-fit: cover;
}

div.colonne {
    width: 100%;
    margin-top: 20px;
    
}

div.colonne h2 {
    text-align: center;
    border-bottom: 5px solid #6C829D;
    font-size: 25px;
    text-transform: uppercase;
    padding-bottom: 5px;
    
}

div.colonne1 {
    display: inline-block;
    
}

div.colonne2 {
    float: right;
}

div.ingredients p {
    text-align: center;
    font-size: 22px;
    border: 1px solid lightgray;
    padding: 5px 0;
    margin-top: 4px;
    margin-bottom: 0;
}

table.preparation p.numero {
    background-color: #6C829D;
    color: white;
    font-weight: bold;
    text-align: center;
    height: 35px;
    width: 35px;
    font-size: 20px;
    border-radius: 50%;
    padding-top: 4px;
    box-sizing: border-box;
    margin-top: 0;
    margin-bottom: 5px;
    
    
}

table.preparation td {
    vertical-align: top;
}

table.preparation td.preparation_etape {
    padding-left: 10px;
    font-size: 20px;
    padding-bottom: 10px;
}

table.preparation tr{
    height: 40px;
}


div {
    overflow: auto;
}



@media only screen and (min-width: 768px) {
    div.contenue {
    min-width: 700px;
    margin: 80px 5% 50px 5%;
    padding: 0 100px 30px 100px;
    }

    table.infos td {
        text-align: center;
        font-size: 25px;
        vertical-align: top;
        padding-bottom: 10px;
        margin-bottom: 100px;
    }
    
    table.infos th {
        text-align: center;
        font-size: 28px;
        vertical-align: bottom;
        padding-top: 18px;
        padding-bottom: 10px;
        vertical-align: middle;
    }

    table.infos {
        position: absolute;
        width: 100%;
        background-color: #6C829DC0;
        color: white;
        bottom: 0;
        height: 17%; 
                
        }

        div.colonne {
            width: 45%;
            
        }
         
        div.colonne1 {
            margin-right: 10%; 
        }
        
        div.colonne2 {
            float: right;
        }

    }

